<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite" parallel="methods" thread-count="4">
    <test name="WebDriver6_Demo">
        <classes>
            <class name="com.demo.day4.DateProvideTest">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
